$white: rgb(255, 255, 255);
.scroll {
    overflow-y: auto !important;
    &::-webkit-scrollbar {
        height: 9px;
        width: 9px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border-style: dashed;
        border-color: transparent;
        border-width: 2px;
        background-color: rgba(157, 165, 183, 0.6);
        background-clip: padding-box;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(131, 135, 145, 0.6);
    }
}

.scroll-y {
    @extend .scroll;
    overflow-x: hidden;
}